canvas
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background
{
    font-family: sans-serif;
}

.menu 
{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
    
}

.directory
{
    border: 1px solid black;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    text-decoration: none;
    font-weight: 900;
}

.container
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;    
}

.item
{
    border: 1px transparent blue;
    text-align: center;
    display: grid;
    grid-template-rows: 30px 100px;
    padding: 10px;
}

.title
{
    border: 1px transparent red;
    font-weight: 500;   
    color: white;
}

.title > a {
    text-decoration: none;
    color:white;
    font-weight: 900;
}

.description
{
    border: 1px transparent green;
}


